$colorFondo: #85929E; 

@mixin margenes($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
h2, h5{
    color: #17202A;
}
.padding-cero{
    padding: 0 !important;
}
.jumbotron{
    background-color: $colorFondo;
    color: #EAECEE ;
    @include margenes(0px,0px,0px,0px);
    border-radius: 0;
}
footer{
    background-color: $colorFondo;
    padding: 10px 50px;
}
footer a{
    color: #ABB2B9;
}
.card-receta{
    /*flex: 1 18rem;
    flex: 1 150px;*/
    padding: 5px 5px;
    border: 1px solid #EBEDEF;
    @include margenes(0px,0px,10px,0px);
    border-radius: 10px;
}
.card-receta img{
    width: 70%;
  display: block;
  @include margenes(0px,auto,0px,auto);

}
.btn-reserva{
    width: 100%;
    
}
.btn-comentario{
    background: none;
    border: none;
}
.btn-comentario:hover{
    color: #007bff;
}
.btn-comentario:focus{
    outline: none;
}
.btn-inactivo{
   border: none;
    color: #666;
}
.btn-inactivo:focus{
    outline: none;
}
